.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 302px;
  min-height: 75px;

  &--opened {
    flex-direction: column;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0;
    justify-content: space-between;
    min-height: 50px;
  }
}

.main-nav__list {
  @include list-reset;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 135px;
  position: relative;

  @media (max-width: $tablet-width) {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    top: 40px;
    left: -20px;
    width: 874px;
    height: 1px;
    background-color: $white;
    opacity: 0.2;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    background-color: $white;
  }
}

.main-nav__item a {
  @include font-set(16px, 32px, 300);
  letter-spacing: -0.5%;
  opacity: 0.7;
  color: $white;
  position: relative;

  &::after {
    @media (max-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      right: 10px;
      top: 25px;
      border-right: 3px solid $modal2;
      border-bottom: 3px solid $modal2;
      transform: rotate(-45deg);
    }
  }

  @media (max-width: $tablet-width) {
    @include font-set(20px, 28px, 400);
    color: $modal;
    background-color: $modal-bg;
    width: 100%;
    box-sizing: border-box;
    padding: 17px;
  }
}

.main-nav__item {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.main-nav__toggle {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: $green;
  position: relative;
  display: none;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 14px;
    width: 23px;
    height: 1px;
    background-color: $grey2;
    box-shadow: 0 6px 0 0 $grey2, 0 12px 0 0 $grey2;

    @media (max-width: $mobile-width) {
      left: 14px;
    }
  }

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.main-nav--nojs .main-nav__list,
.main-nav--opened .main-nav__list {
  display: flex;
}

.main-nav--opened .main-nav__toggle,
.main-nav--nojs .main-nav__toggle {

  background-color: $white;
  align-self: flex-end;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    width: 30px;
    height: 1px;
    background-color: $modal3;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 5px;
    width: 30px;
    height: 1px;
    background-color: $modal3;
    transform: rotate(-45deg);
  }
}

.main-nav--opened .page-header__logo,
.main-nav--nojs .page-header__logo {
  display: none;
}
