.page-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.page-footer__title {
  @include font-set(30px, 30px, 600);
  letter-spacing: -0.5%;
  color: $black2;
  align-self: center;
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    @include font-set(24px, 30px, 600);
  }

  @media (max-width: $tablet-width) {
    @include font-set(18px, 30px, 600);
  }
}

.page-footer__slogan {
  @include font-set(17px, 31px, 400);
  opacity: 0.7;
  color: $black;
  text-align: center;
  width: 40%;
  align-self: center;
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 80%;
  }
}

.page-footer__map {
  align-self: center;
  margin-bottom: 35px;

  @media (max-width: $tablet-width) {
    width: 100%;
    height: 545px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 250px;
  }
}

.page-footer__image {
  @media (max-width: $tablet-width) {
    padding: 0 35px;
    box-sizing: border-box;
    width: 100%;
    height: 545px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    width: 100%;
    height: 250px;
  }
}

.page-footer__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    width: 70%;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    width: 100%;
  }
}

.page-footer__mailto {
  @include font-set(16px, auto, 400);
  opacity: 0.5;
  color: $black;
  position: relative;
  padding-left: 30px;

  @media (max-width: $mobile-width) {
    align-self: center;
  }
}

.page-footer__phone {
  @include font-set(16px,32px, 400);
  opacity: 0.5;
  color: $black;
  position: relative;
  padding-left: 30px;

  @media (max-width: $mobile-width) {
    align-self: center;
  }
}

.page-footer__mailto-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
}

.page-footer__phone-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
}
