.page {
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/bicycle-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 825px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bicycle-desktop@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/bicycle-tablet@1x.jpg");
      width: 100%;
      height: 340px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bicycle-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/bicycle-mobile@1x.jpg");
      width: 100%;
      height: 390px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bicycle-mobile@2x.jpg");
      }
    }
  }

  &--menu-opened {
    &::before {
      background-image: none;
    }
  }
}

.page-body {
  margin: 0 auto;
  min-height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 1440px;
}
