.page-header {
  display: flex;
  flex-direction: column;
  gap: 244px;
  padding: 0;
  margin: 0 auto;
  min-height: 825px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/bicycle-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
    width: 1440px;
    height: 825px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bicycle-desktop@2x.jpg");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/bicycle-tablet@1x.jpg");
      width: 100%;
      height: 340px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bicycle-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/bicycle-mobile@1x.jpg");
      width: 100%;
      height: 390px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bicycle-mobile@2x.jpg");
      }
    }
  }

  @media (max-width: $tablet-width) {
    gap: 84px;
    min-height: 720px;
  }

  @media (max-width: $mobile-width) {
    gap: 71px;
    min-height: 780px;
  }
}

.page-header__logo {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    padding-top: 24px;
    padding-left: 22px;
  }
}
