.promo {
  color: $white;
}

.promo__title {
  @include font-set(46px, 64px, 700);
  letter-spacing: -0.5%;
}

.promo__slogan {
  @include font-set(20px, 32px, 300);
  letter-spacing: -0.5%;
  opacity: 0.8;
  max-width: 381px;
}

.promo__selection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: space-between;
  width: 50%;
}

.promo__header {
  box-sizing: border-box;
  padding-left: 280px;
  width: 50%;
}

.promo__selection-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.promo__selection-title {
  @include font-set(17px, 28px, 600);
  letter-spacing: -0.5%;
  text-align: center;
  max-width: 327px;
  margin: 0;
  margin-bottom: 20px;
}

.promo__input {
  height: 48px;
  border: 1px solid $grey;
  box-sizing: border-box;
  border-radius: 6px;
  max-width: 327px;

  &::placeholder {
    @include font-set(15px, 24px, 400);
    color: $dark;
    opacity: 0.5;
    box-sizing: border-box;
    padding-left: 30px;
  }
}

.promo__button {
  @include font-set(15px, 21px, 600);
  text-align: center;
  background-color: $green;
  border-radius: 6px;
  max-width: 327px;
  min-height: 51px;
}

.promo__container {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
}
