.promo {
  color: $white;
  display: flex;
  flex-wrap: wrap;
  gap: 170px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 145px;
  }

  @media (max-width: $mobile-width) {

    gap: 135px;
  }
}

.promo__title {
  @include font-set(46px, 64px, 700);
  letter-spacing: -0.5%;
  margin: 0 0 25px;
  width: 380px;

  @media (max-width: $tablet-width) {
    @include font-set(30px, 42px, 700);
    width: auto;
    text-align: center;
    margin: 0 0 20px;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
  }
}

.promo__slogan {
  @include font-set(20px, 32px, 300);
  letter-spacing: -0.5%;
  opacity: 0.8;
  max-width: 381px;
  margin: 0;

  @media (max-width: $tablet-width) {
    @include font-set(18px, 32px, 300);
    text-align: center;
    width: auto;
    max-width: 430px;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
  }
}

.promo__selection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: $tablet-width) {
    width: 100%;
    align-items: center;
  }
}

.promo__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 280px;

  @media (max-width: $tablet-width) {
    padding: 0;
    width: 100%;
    align-content: center;
  }
}

.promo__selection-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: $tablet-width) {
    width: 100%;
    align-items: center;
  }
}

.promo__selection-title {
  @include font-set(17px, 28px, 600);
  letter-spacing: -0.5%;
  text-align: center;
  max-width: 327px;
  margin: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding-top: 5px;
  margin-left: 3px;

  @media (max-width: $tablet-width) {
    @include font-set(18px, 28px,600);
    color: $black;
    width: 100%;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 20px;
  }
}

.promo__input {
  height: 48px;
  border: 1px solid $grey;
  box-sizing: border-box;
  border-radius: 6px;
  max-width: 327px;

  @media (max-width: $tablet-width) {
    min-width: 42%;
  }

  @media (max-width: $mobile-width) {
    min-width: 90%;
  }

  &::placeholder {
    @include font-set(15px, 24px, 400);
    color: $dark;
    opacity: 0.5;
    box-sizing: border-box;
    padding-left: 30px;

    @media (max-width: $tablet-width) {
      padding-left: 24px;
    }
  }
}

.promo__button {
  @include font-set(15px, 21px, 600);
  text-align: center;
  background-color: $green;
  border: none;
  border-radius: 6px;
  max-width: 327px;
  min-height: 51px;

  @media (max-width: $tablet-width) {
    min-width: 42%;
  }

  @media (max-width: $mobile-width) {
    min-width: 90%;
  }
}

.promo__logo {
  margin-bottom: 25px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}
