.video .wrapper {
  color: $white;
  letter-spacing: -0.5%;
  background-image: linear-gradient(to bottom, $black3, 706px, transparent 706px);
  background-size: auto;
  // background-color: $black3;
  // background-size: 706px auto;
  min-height: 804px;
  box-sizing: border-box;
  padding-top: 120px;
}

.video__title {
  @include font-set(30px, 30px, 600);
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}

.video__slogan {
  @include font-set(16px, 28px, 300);
  opacity: 0.7;
  margin: 0 auto;
  text-align: center;
  width: 340px;
  margin-bottom: 56px;
}

.video__image {
  margin: 0  255px;
}
