// Colors

$white: white;
$black: black;
$basic: #fe7865;
$basic-hover: #f17d4b;
$light: #fbf8f8;
$dark: #1c1c1c;
$dark-opacity: rgba(44, 46, 63, 0.3);
$dark-opacity2: rgba(44, 46, 63, 0.2);
$deep-dark: #141517;
$grey: #c9ccd4;
$green: #0ad9c6;
$grey2: #dadada;
$modal: #48494d;
$shadow: rgba(41, 54, 66, 0.1);


// Fonts

$primary-font: "Open Sans", "Arial" ,sans-serif;


// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;

